<h1>My tasks</h1>
<fieldset>
  <% @tasks.each do |task| %>
    <div>
      <input type="checkbox" id="task" name="task">
      <label for="task">"<%= link_to task.title, task_path(task) %>"</label>
    </div>
  <% end %>
</fieldset>

<%= link_to "Create a new task", new_task_path %>
